<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.cloud.chapter14.dao.TransactionDao">
    <!--①-->
    <select id="findTranctions" resultType="transaction">
        <!--②-->
        SELECT id, user_id as userId, product_id as productId,
        trans_date as transDate, payment_channel as paymentChannel,
        amout, quantity, discount, note
        FROM t_transaction where user_id = #{userId}
    </select>
</mapper>
